form {
    width: 50%;
    margin: 30px auto auto;
    text-align: center;
    border: 1px solid rebeccapurple;
    padding: 15px 30px;
}

ul li form.cartForm{
     width: 50px;
     height: 50px;
     padding: 3px;
     margin: 3px auto auto;
     border: none;
 }

h1{
    text-align: center;
    margin: auto;
}

/* Style inputs */
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: rebeccapurple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #4a2271;
}
/*Lists*/
li{
    display: table-row;
    height: 30px;
    margin: 10px;
    vertical-align: middle;
}
li a {
    display:table-cell;
    vertical-align: middle;
    height:10px;
}
/*Header menu*/
header {
    width: 100%;
    left: 0;
    top: 0;
}

nav {
    height: 64px;
    background: rebeccapurple;
    color: white;
}

div#menu {
    float: left;
}

nav ul {
    padding-left: 0px;
    margin: 0;
    height: 100%;
}

nav li {
    height: 100%;
    display: inline-flex; /* to make list horizontal */
    align-items: center;
    margin: 0 1.25em;
}

nav li:hover {
    background: #4a2271;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
}

textarea{
    font-family: Arial;
}

#menu, #menu ul {
    height: 100%;
}

#menu ul li{
    display: inline-flex;
    align-items: center
}